* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/wallplogin.jpg);
    background-position: center;
    background-size: cover;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: 40px 0 40px 0;
}

.login-header header {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 25px;
    border-radius: 35px;
    border: none;
    box-shadow: 0px 5px 10px rgba(91, 29, 236, 0.05);
    outline: none;
    transition: 0.3s;
}

::placeholder {
    font-weight: 500;
    color: rgb(84, 177, 44);
}

.input-field:focus {
    transform: scale(120%);
}

.forgot {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

#remember {
    margin-right: 10px;
}

.forgot a {
    text-decoration: none;
    margin-left: 100px;
}

.forgot a:hover {
    text-decoration: underline;
    color: rgb(174, 231, 43);
}

section a {
    color: #fff;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: rgb(52, 187, 39);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-animation: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    background: #7ad71d;
    transform: scale(1.05,1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #fff;
    font-weight: 600;
}

.remem {
    margin-right: -10px;
}

.input-back {
    margin-top: 10px;
    position: relative;
}

.back-btn {
    width: 100%;
    height: 60px;
    background: rgb(187, 61, 39);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.back {
    width: 50px;
    height: 10px;
    align-items: center;
}

.btn {
    text-decoration: none;
    margin-top: 10px;
    transition: .3s;
    border-radius: 50%;
}

.btn:hover {
    text-decoration: none;
    color: rgb(231, 43, 43);
    transform: scale(1.05,1);
}